###### Right Triangle Star Pattern
###### *
###### **
###### ***
###### ****
###### *****

In [21]:
for i in range(1,6):
    for j in range(1,i+1):
        print('*',end="")
    print()

*
**
***
****
*****

#### Inverted Right Triangle Star Pattern
#### *****
#### ****
#### ***
#### **
#### *

In [20]:
for i in  range(5,-1,-1):
    for j in range(0,i+1):
        print("*",end="")
    print()

******
*****
****
***
**
*

Pyramid Star Pattern
    *
   ***
  *****
 *******
*********

In [51]:
for i in range(1,6):
    print(' '*(5-i),end='')
    print('*'*(2*i-1))

    *
   ***
  *****
 *******
*********

In [ ]:
### Diamond Star Pattern
###    *
###   ***
###  *****
### *******
###*********
### *******
###  *****
###   ***
###    *

In [58]:
for i in range(1,6):
    print(" "*(5-i),end="")
    print('*'*(2*i-1))
for i in range(4,0,-1):
    print(" "*(5-i),end="")
    print('*'*(2*i-1))

    *
   ***
  *****
 *******
*********
 *******
  *****
   ***
    *

### Simple Number Pattern
### 1
### 12
### 123
### 1234
### 12345

In [62]:
for i in range(1,6):
    for j in range(1,i+1):
        print(j,end="")
    print()

1
12
123
1234
12345

### Number Pyramid Pattern
###     1
###    2 2
###   3 3 3
###  4 4 4 4
### 5 5 5 5 5

In [83]:
for i in range(1,6):
    print(' '*(5-i),end="")
    for j in range(1,i+1):
        print(i,end=" ")
    print()

    1
   2 2
  3 3 3
 4 4 4 4
5 5 5 5 5

## Alphabet Pyramid Pattern
###        A
###      B B
###    C C C
###  D D D D
### E E E E E

In [99]:
n=5
for i in range(1,n+1):
    print(" "*(n-i),end="")
    for j in range(1,i+1):
        print(chr(64+i),end=" ")
    print()

    A
   B B
  C C C
 D D D D
E E E E E

In [115]:
''''Diamond Character Pattern
    A
   B B
  C C C
 D D D D
E E E E E
 D D D D
  C C C
   B B
    A'''
n=5
for i in range(n+1):
    print(' '*(n-i),end="")
    for j in range(1,i+1):
        print(chr(64+i),end=" ")
    print()
    
for i in range(n-1,0,-1):
    print(' '*(n-i),end="")
    for j in range(1,i+1):
        print(chr(64+i),end=" ")
    print()

    A
   B B
  C C C
 D D D D
E E E E E
 D D D D
  C C C
   B B
    A

In [120]:
''''Floydâ€™s Triangle
1
2 3
4 5 6
7 8 9 10
11 12 13 14 15'''
row=5
count=1
for i in range(1,n+1):
    for j in range(1,i+1):
        print(count,end=" ")
        count+=1
    print()

1
2 3
4 5 6
7 8 9 10
11 12 13 14 15

### w.a.p to print factorial of given number

In [136]:
num=int(input("enter the number :"))
fact=1
for i in range(n,0,-1):
    fact*=i
print("factorial of 5 = ",fact)

enter the number :5
factorial of 5 =  120

### count the vowels of given string

In [149]:
strn=input()
VOL=['a','e','i','o','u']
count=0
for i in (strn):
    if i.lower() in VOL:
        count+=1
print(F"NUMBER OF VOWELS IN {strn} = {count}")

sonuking
NUMBER OF VOWELS IN sonuking = 3

### find the longest word in a sentence using for loop

In [153]:
sent=input()
word=sent.split()
longest=""
for i in (word):
    if len(i)>len(longest):
        longest=i
print(longest)

python by sonu
python

### w.a.p to print fibonacci series

In [154]:
num=int(input("enter the num"))
a=0
b=1
c=a+b
for i in range(1,n+1):
    c=a+b
    a=b
    b=c
    print(c)

enter the num5
1
2
3
5
8

In [9]:

rows = 5

for i in range(1, rows + 1):
    if i == 1 or i == rows:
        print(" "'*' * 5) 
    else:
        print('*     '*2)

 * * * * *
*     *
*     *
*     *
 * * * * *

In [22]:
rows = 5

for i in range(1, rows + 1):
    if i == 1 or i == rows:
        print('* * * * *') 
    else:
        print('*       *')

* * * * *
*       *
*       *
*       *
* * * * *

In [23]:
n = 5
for i in range(0,n):
    for j in range(0,n):
        if i==0 or i==n-1:
            print('*',end = ' ')
        else:
            if j==0 or j==n-1:
                print('*',end= ' ')
            else:
                print(' ',end= ' ')
    print()

* * * * *
*       *
*       *
*       *
* * * * *

In [38]:
n=4
for i in range(1,n):
    print(" "*(5-i),end=" ")
    print('*'*(2*i-1))
for i in range(2,0,-1):
    print(" "*(5-i),end=" ")
    print('*'*(2*i-1))

     *
    ***
   *****
    ***
     *

In [34]:
n=5
for i in range(1,n):
    print(" "*(n-i),end=" ")
    print('*'*(2*i-1))
for i in range(2,0,-1):
    print(" "*(n-i),end=" ")
    print('*'*(2*i-1))

     *
    ***
   *****
  *******
    ***
     *

In [40]:
n = int(input(""))  
for i in range(1, n + 1):
    print(" " * (n - i), end="") 
    print("*" * (2 * i - 1)) 

for i in range(n - 1, 0, -1):
    print(" " * (n - i), end="") 
    print("*" * (2 * i - 1))

6
     *
    ***
   *****
  *******
 *********
***********
 *********
  *******
   *****
    ***
     *

In [43]:
n = int(input(""))  
for i in range(1, 2 * n):  
    if i <= n: 
        spaces = n - i
        stars = 2 * i - 1
    else: 
        spaces = i - n
        stars = 2 * (2 * n - i) - 1
    print(" " * spaces + "*" * stars)

4
   *
  ***
 *****
*******
 *****
  ***
   *