#### 1W.A.P to calculate simple intrerest where principle amount , rate of intrest and time in years will be entered through keyboard.

In [2]:
principle_amount=int(input("enter the principle amount"))
rate_of_intr=int(input("enter the rate of intrest"))
time_in_year=int(input("please enter the time in year"))
simple_int=(principle_amount*rate_of_intr*time_in_year)/100
print("Simple Intrest=",simple_int)

enter the principle amount5000
enter the rate of intrest5
please enter the time in year5
Simple Intrest= 1250.0

#### 2 W.A.P to calculate total and percentage of marks where marks of three subjects will be entered through keyboard

In [8]:
sub1=int(input("enter the marks of subject1  "))
sub2=int(input("enter the marks of subject2  "))
sub3=int(input("enter the marks of subject3  "))
Total_Marks=(sub1+sub2+sub3)
print("Total marks of Three subjects are= ",Total_Marks)
Percentage=Total_Marks / 3
print("Percentage is= ",Percentage)

enter the marks of subject1  100
enter the marks of subject2  100
enter the marks of subject3  100
Total marks of Three subjects are=  300
Percentage is=  100.0

#### 3.W.A.P to print find entered number is positive or negative or neither positive nor negative.

In [12]:
Number=int(input("Enter the number "))
if Number>0:
    print("Given Number is positive")
elif Number<0:
    print("Given Number is Negative")
else:
    print("Neither positive nor negative")

Enter the number 0
Neither positive nor negative

### 4.W.A.P to find all possible real roots of quadratic equation. Values of coefficients of quadratic will be entered through keyboard.
# Discriminant, x= (-b+-‚àöb^2-4ac) / 2a

In [22]:
import math
a=float(input("Enter the Cofficients a "))
b=float(input("Enter the Cofficients b "))
c=float(input("Enter the Cofficients c "))
discriminant=(b**2)-(4*a*c)
if discriminant>0:
    root1=(-b+math.sqrt(discriminant))/(2*a)
    root2=(-b-math.sqrt(discriminant))/(2*a)
    print(f"The equation has two distinct real roots: {root1} and {root2}")
elif discriminant==0:
           root=-b/(2*a)
           print(f"The equation has one real root: {root}")
else:
    print("The equation has no real roots (the roots are complex).")

Enter the Cofficients a 1
Enter the Cofficients b 3
Enter the Cofficients c 2
The equation has two distinct real roots: -1.0 and -2.0

### 5.The mark obtained by a student in 5 different subjects are input through keyboard.The student gets a division as per the following condition:
### percentage above or equal to 60 - First Devision
### percentage between 45 and 59 - Second Devision
### percentage between 33 and 45 - Third Devision
### percentage Below 33 - Fail

In [26]:
sub1=int(input("Enter the Mark of sub1 "))
sub2=int(input("Enter the Mark of sub2 "))
sub3=int(input("Enter the Mark of sub3 "))
sub4=int(input("Enter the Mark of sub4 "))
sub5=int(input("Enter the Mark of sub5 "))
Total_Mark=(sub1+sub2+sub3+sub4+sub5)
percentage=(Total_Mark)/5
print(percentage)
if percentage>=60:
    print("First Devision")
elif percentage<60 and percentage>=45:
    print("Second Devision")
elif percentage<45 and percentage>=33:
    print("Third Devision")
else:
    print("Fail")

Enter the Mark of sub1 80
Enter the Mark of sub2 50
Enter the Mark of sub3 78
Enter the Mark of sub4 80
Enter the Mark of sub5 74
72.4
First Devision

#### 6.W.A.P to print all cases of divisibility of an entered number by 3 and 5 using nested if-else statement

In [31]:
number=int(input("Enter the number "))
if number % 3==0:
    if number % 5==0:
        print(f"The number {number} is divisible by both 3 and 5")
    else:
        print(f"The number {number} is divisible by 3 but not by 5")
else:
    if number % 5==0:
        print(f" The number {number} is divisible by 5 but not divisible by 3")
    else:
        print(f"The number {number} is not divisible by 3 and 5")

Enter the number 20
 The number 20 is divisible by 5 but not divisible by 3

#### 7.W.A.P to print sum of n natural number

In [3]:
num=int(input())
sum=0
i=1
while i<=num:
    sum+=i
    i+=1
print(sum)

9
45

In [8]:
num=int(input("enter the num :"))
sum=0
for i in range(0,num+1):
    sum=sum+i
print(f"sum of {num} natural number is {sum}:")

enter the num :9
sum of 9 natural number is 45:

#### 8.W.A.P to print table of entered num

In [ ]:
num=int(input("Enter the number "))
print(f"table of {num} :")
for i in range(1,11):
    print(i*num)

#### 9.W.A.P to print factorial of entred num

In [2]:
num=int(input("enter the num "))
factorial=1
for i in range(1,num+1):
    factorial*=i
print(factorial)

enter the num4
24

#### 10.w.a.p to print n terms of fibonacci series

In [1]:
n=int(input())
a=0
b=1
if n==1:
    print(a)
else:
    print(a,end=" ")
    print(b,end=" ")
    for i in range(2,n):
        c=a+b
        a=b
        b=c
        print(c,end=" ")

5
0 1 1 2 3

#### 11.w.a.p to find sum of digits of entered number.

In [7]:
"""number=int(input("enter the number"))
sum=0
while number>0:
    sum=sum+number%10
    number=number//10
print(f"sum of digit of given number number is {sum} :")"""
number=int(input("enter the number"))
sum=0
for i in str(number):
    sum=(sum+int(i))
print(sum)

enter the number231
6

#### w.a.p to get reverse of entered number

In [16]:
n=int(input("Enter the number"))
rev=0
while n>0:
    rev=rev*10+n%10
    n=n//10
print(rev)

Enter the number121
121

#### 12.w.a.p to find enter number id palindrome or not

In [5]:
"""n=int(input("enter the number"))
rev=0
original=n
while n>0:
    rev=rev*10+n%10
    n=n//10
print(rev)
if original==rev:
    print("Given number is palindrome")
else:
    print("Not palindrome Number")"""
n=int(input())
while n>0:
    if str(n)==str(n)[::-1]:
        print(f"given number {n} is palindrome")
    else:
        print("not palindrome")
    n=0

999
given number 999 is palindrome

#### 13.w.a.p to print enter number is armstrong number or not

In [1]:
num=int(input())
original=num
num_l=len(str(num))
armstrong=0
while num>0:
    armstrong=armstrong+(num%10)**num_l
    num=num//10
if original==armstrong:
    print("Given number is armstrong")
else:
    print(f"Given Number {original} is not armstrong")

1634
Given number is armstrong

#### 14.w.a.p to print prime number

In [3]:
num=int(input())
i=1
count=0
while i<=num:
    if num%i==0:
        count+=1
    i+=1
if count==2:
    print("prime")
else:
    print("not prime")

8
not prime

#### 15.w.a.p to print prime number between 1 to 100

In [2]:

for i in range(1,101):
    if i>1:
        for j in range(2,i):
            if i%j==0:
                break
        else:
            print(i,end=" ")

2 3 5 7 11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97

#### 17.w.a.p tp print palindrome num between 1 to 100

In [2]:
print("Palindrome numbers between 1 and 100:")
for num in range(1, 101):
    if str(num) == str(num)[::-1]:
        print(num, end=" ")

Palindrome numbers between 1 and 100:
1 2 3 4 5 6 7 8 9 11 22 33 44 55 66 77 88 99

In [10]:
def fibonacci(n):
    a=0
    b=1
    l1=[]
    if n==1:
        l1.append(n)
    else:
        l1.append(a)
        l1.append(b)
        for i in range(2,n):
            c=a+b
            a=b
            b=c
            l1.append(c)
    return l1
n2=int(input())
l2=fibonacci(n2)
fib_sr_cube=list(map(lambda x: x**3,l2))
print(fib_sr_cube)

5
[0, 1, 1, 8, 27]

### Problem: Given a list, reverse its elements.
### Example:
### Input: [1, 2, 3, 4, 5]
### Output: [5, 4, 3, 2, 1]

In [2]:
n=[1,2,3,4,5]
print(n[::-1])

[5, 4, 3, 2, 1]

### Problem: Find the largest and smallest elements in a list.
### Input: [3, 5, 7, 2, 8]  Output: Largest: 8, Smallest: 2

In [7]:
n=[3,5,7,2,8]
print(f"Largest:{max(n)},Smallest:{min(n)}")

Largest:8,Smallest:2

### Remove Duplicates from a List
### Problem: Remove all duplicate elements while maintaining the order.
### Input: [1, 2, 2, 3, 4, 4, 5] , Output: [1, 2, 3, 4, 5]

In [10]:
"""n=[1,2,2,3,4,4,5]
print(list(set(n)))"""
n=[1,2,2,3,4,4,5]
uni=[]
for i in n:
    if i not in uni:
        uni.append(i)
print(uni)

[1, 2, 3, 4, 5]

### Problem: Merge two sorted lists into one sorted list.
### Input: [1, 3, 5], [2, 4, 6] , Output: [1, 2, 3, 4, 5, 6]

In [22]:
"""n=[1,3,5]
n2=[2,4,6]
n.extend(n2)
print(sorted(n))"""
n=[1,3,5]
n2=[2,4,6]
merge=sorted(n+n2)
print(merge)

[1, 2, 3, 4, 5, 6]

### Problem: Find the second largest number in a list without using the built-in sort() method.
### Input: [10, 20, 4, 45, 99] , Output: 45

In [25]:
n=[10,20,4,45,99]
n=list(set(n))
n.remove(max(n))
print(max(n))

45

### Problem: Rotate a list by , ùëò positions to the right
### Input: [1, 2, 3, 4, 5], k=2 , Output: [4, 5, 1, 2, 3]

In [29]:
n=[1,2,3,4,5]
k=2
n1=n[-2:]
n2=n[:-2]
print(n1+n2)

[4, 5, 1, 2, 3]

### Problem: Determine if a list reads the same forward and backward.
### Input: [1, 2, 3, 2, 1] , Output: True

In [37]:
n=[1,2,3,2,1]
n1=n[::-1]
if n==n1:
    print("True")

True

### Problem: Flatten a list that contains other lists.
### Input: [1, [2, 3], [4, [5, 6]]] , Output: [1, 2, 3, 4, 5, 6]

In [43]:
def flatten_list(nested_list):
    flattened = []
    for item in nested_list:
        if isinstance(item, list):  
            flattened.extend(flatten_list(item))
        else:
            flattened.append(item) 
    return flattened

# Example usage
nested_list = [1, [2, 3], [4, [5, 6]]]
result = flatten_list(nested_list)
print(result)

[1, 2, 3, 4, 5, 6]

In [39]:
###Count Occurrences of an Element
nums = [1, 2, 3, 2, 4, 2, 5]
x = 2
count=nums.count(x)
count

3

In [ ]:
nested_list = [1, [2, 3], [4, [5, 6]]]

flattened = []
for item in nested_list:
    if isinstance(item, list):  
        for sub_item in item:  # Iterate through the sublist
            if isinstance(sub_item, list):  # If there's further nesting
                for sub_sub_item in sub_item:
                    flattened.append(sub_sub_item)
            else:
                flattened.append(sub_item)  
    else:
        flattened.append(item) 

print(flattened)